<!--
Author: Ranjithprabhu K
Page Description: Dashboard Home page
Date: 05 Jan 2016
-->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Registered Beacons
 </h1>
 <ol class="breadcrumb">
    <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Beacons</li>
</ol>
</section>
<section class="content-body">

</section>
<section class="content-body">
    <!-- Main content -->
    
    <label>Beacon ID</label>
    <input type="text" name="beacon_id" ng-model="beacon_id" />
    <label>Beacon Key</label>
    <input type="text" name="beacon_key" ng-model="beacon_key" />
    <label>Description</label>
    <textarea name="beacon_description"></textarea>
        
    
</section><!-- /.content -->
