<style>
.register_block_1 {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin: 2% 2%;
    padding: 20px;
    vertical-align: top;
    width: 34%;
}

.register_block_2 {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin: 2% 1%;
    padding: 20px;
    vertical-align: top;
    width: 58%;
}

.content-header {
    padding: 6% 15px 0;
    position: relative;
}

.wait_text {
    background-color: #d9edf7;
    border-radius: 3px;
    color: #31708f;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 10px;
    font-style: italic;
    border: 1px solid #bce8f1;
}

.error {
    color: red;
}
</style>
<!--
Author: Ranjithprabhu K
Page Description: Dashboard Home page
Date: 05 Jan 2016
-->
<!-- Content Header (Page header) -->
<div ng-show="!connection" class="alert alert-danger">You're offline now. Please check your internet connection</div>
<div ng-show="connection_msg" class="alert alert-success">Re-connected successfully</div>
<section class="content-blocks">
    <section class="content-header">
        <h1>
            Department Managers
        </h1>
        <ol class="breadcrumb">
            <!-- <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li> -->
            <li><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Department Managers</li>
        </ol>
    </section>
    <section class="content-body register_block_1" ng-show="loggedInUser.UserType == 1 || button_name == 'Update'">
        <div class="wait_block" ng-if="!FormInitialized">
            <p class="wait_text">Please Wait...</p>
        </div>
        <h4 ng-if="button_name!='Update' && loggedInUser.UserType != 1">View Manager</h4>
        <h4 ng-if="button_name!='Update' && loggedInUser.UserType == 1">Add Department Manager</h4>
        <h4 ng-if="button_name=='Update' && loggedInUser.UserType == 1">Update Department Manager</h4>
        <ng-form name="deptmangForm" id="deptmangForm">
            <label>Name<span class="error">*</span></label>
            <input class="form-control" type="text" name="Name" id="Name" ng-model="Name" required="required" />
            <span class="error" ng-show="deptmangForm.Name.$touched && deptmangForm.Name.$invalid">Please Enter Name</span>
            <br>
            <label>Assign Store<span class="error">*</span></label>
            <select class="form-control col-md-4" ng-model="AssignedStore" id="AssignedStore" name="AssignedStore" required="required" ng-readonly="loggedInUser.UserType!=1">
                <option value="">Select Store</option>
                <option ng-repeat="device in storeData | orderBy:StoreName" value="{{device._id}}">
                    {{device.StoreName}}</option>
            </select>
            <br>
            <span class="error" ng-show="deptmangForm.AssignedStore.$touched && deptmangForm.AssignedStore.$invalid">Please Assign Store</span>
            <br>
            <label>Assign Employees<span class="error">*</span></label>
              <span ng-show="AssignedEmployee.length > 0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ AssignedEmployee && AssignedEmployee.length || 0 }} Employee Selected</span>
            <select class="form-control col-md-4" ng-model="AssignedEmployee" id="AssignedEmployee" name="AssignedEmployee" required="required" multiple="multiple" ng-readonly="loggedInUser.UserType!=1">
                <!--<option value="">Select Employees</option>-->
                <option ng-repeat="device in EmployeeDataByStore | orderBy:'Name'" value="{{device._id}}" ng-selected="selected">
                    {{device.Name}}</option>
            </select>
            <!--    <input class="form-control" type="text" name="AssignedEmployee" id="AssignedEmployee" ng-model="AssignedEmployee" required="required" /> -->
            <br>
            <span class="error" ng-show="deptmangForm.AssignedEmployee.$touched && deptmangForm.AssignedEmployee.$invalid">Please Assign  Employee</span>
            <br>
            <label>Designation</label>
            <input class="form-control" type="text" name="Designation" id="Designation" ng-model="Designation" ng-readonly="loggedInUser.UserType!=1" />
            <br>
            <label>Manager ID<span class="error">*</span></label>
            <input class="form-control" type="text" name="UserID" id="UserID" ng-model="UserID" ng-pattern="useridregex" required="required" ng-readonly="loggedInUser.UserType!=1" />
            <span class="error" ng-show="deptmangForm.UserID.$touched && deptmangForm.UserID.$error.required">Please Enter Department Manager ID</span>
            <span class="error" ng-show="deptmangForm.UserID.$touched && deptmangForm.UserID.$invalid && !deptmangForm.UserID.$error.required">User ID must be lowercase and only alphabets</span>
            <br>
            <label>Password<span ng-show="button_name!='Update'" class="error">*</span></label>
            <input class="form-control" type="password" id="Password" name="Password" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="Password" ng-pattern="passwordregex" ng-required="button_name!='Update'" ng-readonly="loggedInUser.UserType!=1" />
            <span class="error" ng-show="deptmangForm.Password.$touched && deptmangForm.Password.$invalid && deptmangForm.Password.$error.required">Please Enter Password</span>
            <span class="error" ng-show="deptmangForm.Password.$touched && deptmangForm.Password.$invalid && !deptmangForm.Password.$error.required">Password must be in between 6-8 Characters</span>
            <br>
            <!-- compare-to="Password" -->
            <label>Confirm Password<span ng-show="button_name!='Update'" class="error">*</span></label>
            <input class="form-control" type="password" id="ConfPassword" ng-minlength="minlength" ng-maxlength="maxlength" name="ConfPassword" ng-model="ConfPassword" ng-required="(button_name != 'Update' || Password)" ng-readonly="loggedInUser.UserType!=1" />
            <span class="error" ng-show="deptmangForm.ConfPassword.$touched && deptmangForm.ConfPassword.$invalid && deptmangForm.ConfPassword.$error.required">Please Enter Confirm Password</span>
            <!--    <span class="error" ng-show="deptmangForm.confPassword.$touched && deptmangForm.confPassword.$invalid && !deptmangForm.confPassword.$error.required">Confirm Password must be in between 6-8 Characters</span>
            <br> -->
            <span class="error" ng-show="deptmangForm.confPassword.$touched && deptmangForm.confPassword.$invalid && !deptmangForm.confPassword.$error.required">Confirm Password does not Match with the Password</span>
            <span class="error">{{ deptmangForm.confPassword }}</span>
            <br>
            <p ng-show="button_name=='Update'">Leave password field blank if you donot want to reset password.</p>
            <br>
            <button class="btn btn-primary" ng-bind="button_name" ng-if="loggedInUser.UserType == 1" ng-click="processUser()">Add</button>
            <button class="btn btn-primary" ng-if="button_name=='Update' && loggedInUser.UserType == 1" ng-click="deleteDepartmentManager()">
                Delete</button>
            <button class="btn btn-primary" ng-if="button_name=='Update' && loggedInUser.UserType == 1" ng-click="resetControls()">Cancel</button>
            <button class="btn btn-primary" ng-if="loggedInUser.UserType != 1" ng-click="resetControls()">Close</button>
            <p ng-show="UserType == 3">Admin account cannot be deleted, Only updated.</p>
            <p ng-show="UserType == 3">Admin account cannot be deleted, Only updated.</p>
        </ng-form>
    </section>
    <section class="content-body register_block_2">
        <div class="row">
            <div class="col-xs-5">
                <h4>Registered Department Managers</h4>
            </div>
        </div>
        <div class="wait_block" ng-if="!ListInitialized">
            <p class="wait_text">Please Wait...</p>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <!-- <label for="search">Search:</label> -->
                <label for="search">Search: <small style="color:purple;">(Please enter atleast 2 characters to get results)</small></label>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text" ng-change="userCurrentPage=1">
                <!-- <small style="color:purple;">Please enter atleast 2 characters to get results</small> -->
            </div>
            <div class="col-xs-3">
                <label for="search">Records/Page:</label>
                <select ng-model="userPageSize" class="form-control">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2" style="margin-top: 10px;">
                <small style="margin-top: 10px;" ng-show="(deptmanagerData | filter: (q.length > 1 ? {searchfield: q } : '')).length > 1"><b>{{ (deptmanagerData | filter: (q.length > 1 ? {searchfield: q } : '')).length || 0 }} Records</b></small>
                <small style="margin-top: 10px;" ng-show="(deptmanagerData | filter: (q.length > 1 ? {searchfield: q } : '')).length == 1"><b>1 Record</b></small>
            </div>
        </div>
        <!-- Main content -->
        <table class="table">
            <th ng-click="O=(O=='Name' && '-Name' || 'Name' )">Name
                <span ng-show="O=='Name'">▲</span>
                <span ng-show="O=='-Name'">▼</span>
            </th>
            <th ng-click="O=(O=='StoreName' && '-StoreName' || 'StoreName' )">Assigned Store
                <span ng-show="O=='StoreName'">▲</span>
                <span ng-show="O=='-StoreName'">▼</span>
            </th>
            <!--       <th ng-click="O=(O=='SectionName' && '-SectionName' || 'SectionName' )">Assigned Section
                <span ng-show="O=='SectionName'">▲</span>
                <span ng-show="O=='-SectionName'">▼</span>
            </th> -->
            <th ng-click="O=(O=='Designation' && '-Designation' || 'Designation' )">Designation
                <span ng-show="O=='Designation'">▲</span>
                <span ng-show="O=='-Designation'">▼</span>
            </th>
            <th ng-click="O=(O=='UserID' && '-UserID' || 'UserID' )">Employee ID
                <span ng-show="O=='UserID'">▲</span>
                <span ng-show="O=='-UserID'">▼</span>
            </th>
            <th>Action</th>
            <tr dir-paginate="u in deptmanagerData | filter: (q.length > 1 ? {searchfield: q } : '') | orderBy : O | itemsPerPage:  userPageSize" current-page="userCurrentPage">
                <!-- <tr ng-repeat=" | orderBy:Name "> -->
                <td>
                    <input class="form-control" type='text' ng-model="u.Name" readonly />
                </td>
                <td>
                    <input class="form-control" type='text' ng-model="u.StoreName" readonly />
                </td>
                <!--         <td>
                    <input class="form-control" type='text' ng-model="u.SectionName" readonly />
                </td>
 -->
                <td>
                    <input class="form-control" type='text' ng-model="u.Designation" readonly />
                </td>
                <td>
                    <input class="form-control" type='text' ng-model="u.UserID" readonly />
                </td>
                <td ng-click="getUser(u._id)">
                <span class="btn btn-primary" ng-if="loggedInUser.UserType == 1">Edit</span>
                <span class="btn btn-primary" ng-if="loggedInUser.UserType != 1">View</span>
                </td>
            </tr>
            <tr ng-show="!(deptmanagerData | filter: (q.length > 1 ? {searchfield: q } : '')).length">
                <td colspan="4">No Record Found</td>
            </tr>
        </table>
        <div>
            <nav aria-label="Page navigation">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/modules/dashboard/views/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </nav>
        </div>
    </section>
    <!-- /.content -->
</section>
