<style>
.content-device_block {
    border: 1px solid grey;
    margin: 2% auto;
    min-height: 300px;
    padding: 2% 0;
    width: 98%;
}

.block_title_1 {
    border-bottom: 1px solid;
    font-size: 15px;
    margin-bottom: 0;
    padding: 3px 0;
    text-align: center;
}

.block_title_2 {
    border-bottom: 1px solid;
    font-size: 12px;
    margin-bottom: 0;
    padding: 3px 0;
    min-height: 40px;
    word-wrap: break-word;
}

.block_title_3 {
    border-bottom: 1px solid;
    font-size: 16px;
    margin-bottom: 0;
    padding: 3px 0;
    min-height: 40px;
}

.bcon-slect-title {
    margin-bottom: 0;
    /* padding: 7%   0;*/
}

.error_text {
    background-color: #d9edf7;
    border-radius: 3px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 10px;
    font-style: italic;
    border: 1px solid #bce8f1;
}

.wait_text {
    background-color: #d9edf7;
    border-radius: 3px;
    color: #31708f;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 10px;
    font-style: italic;
    border: 1px solid #bce8f1;
}

.bcon_selection_block_left {
    border-radius: 3px;
    /*width: 80%;*/
    /*display: inline-block;*/
    vertical-align: top;
}

.bcon_selection_block_right {
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.no-pad {
    padding: 0 2px;
}

.bcon_selection_section {
    padding: 0 0 24px 12px;
}

.push_btnn_block {
    text-align: right;
}

.pad_box {
    padding-top: 20px;
}

.btn-info {
    width: 100%;
}

.btn.btn-info.btn-auto-width {
    width: auto;
}

.btn_set {
    margin-top: 20px;
    width: 200px !important;
}

.error_text {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

#graphic-message .modal-footer {
    text-align: center;
}

#graphic-message .modal-header {
    background: #2E96F2;
    color: #fff;
}

#graphic-message .modal-title {
    font-weight: bold;
}

.input-icon.right textarea,
.input-icon.right:input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: none;
}

#graphic-message .modal-body > small {
    font-weight: bold;
    font-size: 14px;
    color: #1D8DF1;
}

#graphic-message .close {
    color: #fff;
    font-size: 34px;
    opacity: 1;
}


/*#uploadForm > input {
    margin-bottom: 10px;
}*/
</style>
<!--
Author: Ranjithprabhu K
Page Description: Dashboard Home page
Date: 05 Jan 2016
-->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1> Device History </h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Devices History</li>
    </ol>
</section>
<div class="content-device_block">
    <div class="container-fluid">
        <div class="wait_block" ng-if="InvalidInputs">
            <p class="error_text">Please select Store and Date for getting list of device history..</p>
        </div>
        <div class="wait_block" ng-if="!Initialized">
            <p class="wait_text">Please Wait...</p>
        </div>
        <div class="bcon_selection_section">
            <div class="bcon_selection_block_left">
                <div class="bcon_selection row">
                    <div class="bcon_selection_left_1 col-md-3 no-pad">
                        <div class="form-group">
                            <div class="col-md-12 no-pad">
                                <label class="bcon-slect-title">Select Store</label>
                                <select class="form-control col-md-4" ng-model="selectedStore">
                                    <option value="">Select Store</option>
                                    <option ng-repeat="device in storeData" value="{{device._id}}">{{device.StoreName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="bcon_selection_left_2 col-md-3">
                        <div class="form-group">
                            <div class="col-md-12 no-pad">
                                <label class="bcon-slect-title">Select Beacon</label>
                                <select class="form-control col-md-4" ng-show="!BeaconInitialized">
                                    <option value="">Please wait..</option>
                                </select>
                                <select class="form-control col-md-4" ng-model="selectedBeacon" ng-show="BeaconInitialized">
                                    <option value="">All</option>
                                    <option ng-repeat="device in beaconData | orderBy:BeaconKey" value="{{device.BeaconID}}">{{device.BeaconKey}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="bcon_selection_left_3 col-md-6">
                        <div class="form-group">
                            <div class="col-md-5 no-pad">
                                <label class="bcon-slect-title">Date From</label>
                                <input type="text" ng-model="selectedDateFrom" id="datepickerFrom" class="datepicker form-control">
                            </div>
                            <div class="col-md-5 no-pad">
                                <label class="bcon-slect-title">Date To</label>
                                <input type="text" ng-model="selectedDateTo" id="datepickerTo" class="datepicker form-control">
                            </div>
                            <div class="col-md-2 no-pad">
                                <div class="pad_box">
                                    <button type="button" class="btn btn-info" ng-click="loadData()">Show</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="3"><small><a href="javascript:;" ng-click="selectRecords()">Select All</a>/
            <a href="javascript:;" ng-click="unselectRecords()">Unselect All</a></small></th>
                        <th colspan="3">
                            <div class="bcon_selection_block_right">
                                <div class="bcon_selection push_btnn_block row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-info btn_set" ng-click="checkClickedRecords()" data-toggle="modal" data-target="#graphic-message">Send Push Notification</button>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Select</th>
                        <th>Device ID</th>
                        <th>Person's Number</th>
                        <th>Stay Time</th>
                        <th>Beacon</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="device in deviceData | orderBy:Distance " ng-if="deviceData.length > 0">
                        <td>
                            <input type="checkbox" value="{{ device.DeviceID }}" ng-click="ShowSelectedTokens()" ng-model="device.checked">
                        </td>
                        <!-- <td>{{ device.DeviceID }}</td> -->
                        <td>{{ device.DeviceName }}</td>
                        <td>{{ device.DevicePhone }}</td>
                        <td>{{ device.StayTime}}</td>
                        <td>{{ device.BeaconKey + '(' + device.BeaconID + ')' }}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-auto-width" data-toggle="modal" data-target="#search-history-detail" ng-click="getDeviceSearchHistoryDetails(device.DeviceName, device.DevicePhone)">View Search History</button>
                            <button type="button" class="btn btn-info btn-auto-width" data-toggle="modal" data-target="#device-history-detail" ng-click="getDeviceHistoryDetails(device.DeviceName, device.BeaconKey, device.DevicePhone, device.BeaconID)">View Details</button>
                        </td>
                    </tr>
                    <tr ng-if="!(deviceData.length > 0)">
                        <td colspan="6">
                            No records available
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12 text-right">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <!-- <li ng-if="deviceDataPageCount > 1"><a ng-click="firstPage()"><<</a></li> -->
                        <li ng-if="deviceDataPageCount > 1" ng-show="currPage > 1">
                            <a ng-click="prevPage()" aria-label="Previous" href="#"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                        <li ng-repeat="n in range(1,deviceDataPageCount)" ng-if="deviceDataPageCount > 1">
                            <a ng-click="loadPage(n)" ng-if="n!=currPage">{{n}}</a>
                            <span ng-if="n==currPage">{{n}}</span>
                        </li>
                        <li ng-if="deviceDataPageCount > 1" ng-show="currPage != deviceDataPageCount">
                            <a ng-click="nextPage()" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                        <!-- <li ng-if="deviceDataPageCount > 1"><a ng-click="lastPage()">>></a></li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="text-message" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send Text Message</h4>
            </div>
            <div class="modal-body">
                <div class="form-group clearfix">
                    <label for="inputEmail3" class="col-sm-4 control-label">Title</label>
                    <div class="col-sm-8">
                        <div class="input-icon right">
                            <input class="form-control tag-inpt" ng-model="TM_title" />
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="inputEmail3" class="col-sm-4 control-label">Description</label>
                    <div class="col-sm-8">
                        <div class="input-icon right">
                            <textarea ng-model="TM_descr" style="width:100%"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="sendTextMessage()"> Send</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="graphic-message" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send Push Notification</h4>
            </div>
            <div class="modal-body" ng-if="IsRecordSelected">
                <div class="form-group clearfix">
                    <label for="inputEmail3" class="col-sm-3 control-label">Title</label>
                    <div class="col-sm-9">
                        <div class="input-icon right">
                            <input class="form-control tag-inpt" id="push-title" ng-model="GM_title" />
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="inputEmail3" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
                        <div class="input-icon right">
                            <textarea ng-model="GM_descr" id="push-description" style="width:100%"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="inputEmail3" class="col-sm-3 control-label">Upload Image</label>
                    <div class="col-sm-9">
                        <form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">
                            <input type="file" name="userPhoto" />
                            <input type="submit" value="Upload Image" name="submit" class="btn btn-info btn_set" onclick="return uploadimage(this)">
                            <img src="#" width="50px" height="50px" id="imagepreview">
                            <span id="status"></span>
                        </form>
                    </div>
                </div>
                <small>
          Note: Please click on Upload button after making Image selection with Browse button if you want to send image notification
        </small>
            </div>
            <div class="modal-body" ng-show="!IsRecordSelected">
                <h1>Sorry!!! No device selected</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn_set" data-dismiss="modal" ng-click="sendImageMessage()" ng-if="IsRecordSelected"> Send</button>
                <button type="button" class="btn btn-info btn_set" data-dismiss="modal"> Close </button>
                <!-- <input type="submit" value="Submit"> -->
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="device-history-detail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">History of <strong>{{ toProperCase(HistoryPersonName) }}</strong> at <em>{{ HistoryOfPlace }}</em></h4>
            </div>
            <div class="modal-body" ng-show="!InitializingHistoryDetails">
                <div class="form-group clearfix">
                    <table class="table table-striped">
                        <thead>
                            <th>Date</th>
                            <th>In Time</th>
                            <th>Out Time</th>
                            <th>Stay Time</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hdd in HistoryDetailsData | orderBy:Date" ng-if="HistoryDetailsData.length > 0" ng-show="hdd.page==viewDetailsCurrPage">
                                <td>{{ hdd.Date | date }}</td>
                                <td>{{ hdd.Date | date:'hh:mm a' }}</td>
                                <td>{{ hdd.DateTo | date:'hh:mm a' }}</td>
                                <!-- <td>{{ hdd.Date }}</td>
                                <td>{{ hdd.DateTo }}</td> -->
                                <td>{{ hdd.StayTime }}</td>
                            </tr>
                            <tr ng-if="HistoryDetailsData.length <= 0">
                                <td colspan="4">
                                    <h4>No Details Found</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <ul>
                        <li ng-if="deviceDetailsDataPageCount > 1" ng-show="viewDetailsCurrPage != 1"><a ng-click="prevDetailPage()">&ltPrev</a></li>
                        <li ng-repeat="n in range(1,deviceDetailsDataPageCount)" ng-if="deviceDetailsDataPageCount > 1">
                            <a ng-click="loadDetailPage(n)" ng-if="n!=viewDetailsCurrPage">{{n}}</a>
                            <span ng-if="n==viewDetailsCurrPage">{{n}}</span>
                        </li>
                        <li ng-if="deviceDetailsDataPageCount > 1" ng-show="viewDetailsCurrPage != deviceDetailsDataPageCount">
                            <a ng-click="nextDetailPage()">Next&gt</a></li>
                    </ul> -->
                    <div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <!-- <li ng-if="deviceDataPageCount > 1"><a ng-click="firstPage()"><<</a></li> -->
                                <li ng-if="deviceDetailsDataPageCount > 1" ng-show="viewDetailsCurrPage != 1">
                                    <a ng-click="prevDetailPage()" aria-label="Previous" href="#"><span aria-hidden="true">&laquo;</span></a>
                                </li>
                                <li ng-repeat="n in range(1,deviceDetailsDataPageCount)" ng-if="deviceDetailsDataPageCount > 1">
                                    <a ng-click="loadDetailPage(n)" ng-if="n!=viewDetailsCurrPage">{{n}}</a>
                                    <span ng-if="n==viewDetailsCurrPage">{{n}}</span>
                                </li>
                                <li ng-if="deviceDetailsDataPageCount > 1" ng-show="viewDetailsCurrPage != deviceDetailsDataPageCount">
                                    <a ng-click="nextDetailPage()" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                                </li>
                                <!-- <li ng-if="deviceDataPageCount > 1"><a ng-click="lastPage()">>></a></li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="modal-body" ng-show="InitializingHistoryDetails">
                <h1>Loading History, Please wait...</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="search-history-detail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Search History of <strong>{{ toProperCase(HistoryPersonName) }}</strong></h4>
            </div>
            <div class="modal-body" ng-show="!InitializingHistoryDetails">
                <div class="form-group clearfix">
                    <table class="table table-striped">
                        <thead>
                            <th>Date</th>
                            <th>Searched Keyword</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hdd in HistorySearchDetailsData | orderBy:date_added" ng-if="HistorySearchDetailsData.length > 0" ng-show="hdd.page==viewSearchDetailsCurrPage">
                                <td>{{ hdd.datetimestamp | date }}</td>
                                <td>{{ hdd.search_keyword }}</td>
                            </tr>
                            <tr ng-if="HistorySearchDetailsData.length <= 0">
                                <td colspan="4">
                                    <h4>No Details Found</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li ng-if="deviceSearchDetailsDataPageCount > 1" ng-show="viewSearchDetailsCurrPage != 1">
                                    <a ng-click="prevSearchDetailPage()" aria-label="Previous" href="#"><span aria-hidden="true">&laquo;</span></a>
                                </li>
                                <li ng-repeat="n in range(1,deviceDetailsDataPageCount)" ng-if="deviceDetailsDataPageCount > 1">
                                    <a ng-click="loadDetailPage(n)" ng-if="n!=viewSearchDetailsCurrPage">{{n}}</a>
                                    <span ng-if="n==viewSearchDetailsCurrPage">{{n}}</span>
                                </li>
                                <li ng-if="deviceSearchDetailsDataPageCount > 1" ng-show="viewSearchDetailsCurrPage != deviceSearchDetailsDataPageCount">
                                    <a ng-click="nextSearchDetailPage()" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="modal-body" ng-show="InitializingHistoryDetails">
                <h1>Loading History, Please wait...</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#imagepreview").hide();
    /*$('#uploadForm').submit(function() {
        $("#status").empty().text("Image is uploading...");
        $(this).ajaxSubmit({

            error: function(xhr) {
                status('Error: ' + xhr.status);
            },

            success: function(response) {
                if (response != 'Error uploading file.') {
                    $("#status").empty();
                    $("#imagepreview").attr('src', response);
                    $("#imagepreview").show();
                    var scope = angular.element($("#imagepreview")).scope();
                    scope.$apply(function() {
                        scope.GM_ImageFilePath = response;
                    });
                } else {
                    $("#status").empty().text(response);
                    $("#imagepreview").hide();
                }
                console.log(response);

            }
        });
        //Very important line, it disable the page refresh.
        return false;
    });*/
});

function uploadimage(object) {
    $("#status").empty().text("Image is uploading...");
    $('#uploadForm').ajaxSubmit({

        error: function(xhr) {
            status('Error: ' + xhr.status);
        },

        success: function(response) {
            if (response != 'Error uploading file.') {
                $("#status").empty();
                $("#imagepreview").attr('src', response);
                $("#imagepreview").show();
                var scope = angular.element($("#imagepreview")).scope();
                scope.$apply(function() {
                    scope.GM_ImageFilePath = response;
                });
            } else {
                $("#status").empty().text(response);
                $("#imagepreview").hide();
            }
            console.log(response);
        }
    });
    //Very important line, it disable the page refresh.
    return false;
}
</script>
