<!--
Author: Ranjithprabhu K
Page Description: Dashboard Home page
Date: 05 Jan 2016
-->

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           My Home Page
        </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Home</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" data-ng-repeat="data in vm.home.mainData">
                <div class="info-box">
                    <span class="info-box-icon bg-{{data.theme}}"><i class="fa fa-{{data.icon}}"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">{{data.title}}</span>
                        <span class="info-box-number">{{data.value}}</span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to Beacons Dashboard</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
