<style>
.register_block_1 {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin: 2% 2%;
    padding: 20px;
    vertical-align: top;
    width: 34%;
}

.register_block_2 {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin: 2% 1%;
    padding: 20px;
    vertical-align: top;
    width: 58%;
}

.content-header {
    padding: 6% 15px 0;
    position: relative;
}

.wait_text {
    background-color: #d9edf7;
    border-radius: 3px;
    color: #31708f;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 10px;
    font-style: italic;
    border: 1px solid #bce8f1;
}

.error {
    color: red;
}
</style>
<!--
Author: Ranjithprabhu K
Page Description: Dashboard Home page
Date: 05 Jan 2016
-->
<!-- Content Header (Page header) -->
<div ng-show="!connection" class="alert alert-danger">You're offline now. Please check your internet connection</div>
<div ng-show="connection_msg" class="alert alert-success">Re-connected successfully</div>
<section class="content-blocks">
    <section class="content-header">
        <h1>
            Sections
        </h1>
        <ol class="breadcrumb">
            <!-- <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li> -->
            <li><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Sections</li>
        </ol>
    </section>
    <section class="content-body register_block_1" ng-show="loggedInUser.UserType == 1 || button_name == 'Update'">
        <div class="wait_block" ng-if="!FormInitialized">
            <p class="wait_text">Please Wait...</p>
        </div>
        <h4 ng-if="button_name!='Update' && loggedInUser.UserType != 1">View Section</h4>
        <h4 ng-if="button_name!='Update' && loggedInUser.UserType == 1">Add Section</h4>
        <h4 ng-if="button_name=='Update' && loggedInUser.UserType == 1">Update Section</h4>
        <ng-form name="sectionForm" id="sectionForm">
            <label>Name<span class="error">*</span></label>
            <input class="form-control" type="text" name="SectionName" id="SectionName" ng-model="SectionName" required="required" ng-readonly="loggedInUser.UserType!=1" />
            <span class="error" ng-show="sectionForm.SectionName.$touched && sectionForm.SectionName.$invalid">Please Enter Name</span>
            <br>
            <label>Assign Store<span class="error">*</span></label>
            <select class="form-control col-md-4" ng-model="AssignedStore" id="AssignedStore" name="AssignedStore" required="required" ng-readonly="loggedInUser.UserType!=1">
                <option value="">Select Store</option>
                <option ng-repeat="device in storeData | orderBy:StoreName" value="{{device._id}}">
                    {{device.StoreName}}</option>
            </select>
            <br>
            <span class="error" ng-show="sectionForm.AssignedStore.$touched && sectionForm.AssignedStore.$invalid">Please Assign Store</span>
            <br>
            <label>Assign Beacon(s)<span class="error">*</span> </label>
            <select class="form-control col-md-4" multiple="multiple" ng-model="selectedBeacon" id="selectedBeacon" name="selectedBeacon" required="required" ng-disabled='!AssignedStore' ng-readonly="loggedInUser.UserType!=1">
                <!-- <option value="">Please Assign Beacon</option> -->
                <option ng-repeat="device in beaconData | orderBy:BeaconKey" value="{{device.BeaconID}}" ng-selected="selected">
                    {{device.BeaconKey}}</option>
            </select>
            <br>
            <span class="error" ng-show="sectionForm.selectedBeacon.$touched && sectionForm.selectedBeacon.$invalid">Please Assign Beacon</span>
            <br>
            <label>Description</label>
            <!--<input class="form-control" type="text" name="SectionDesc" id="SectionDesc" ng-model="SectionDesc" required="required" />-->
            <textarea name="SectionDesc" id="SectionDesc" ng-model="SectionDesc" rows="5" cols="40" ng-readonly="loggedInUser.UserType!=1"></textarea>
            <br>
            <!-- <span class="error" ng-show="sectionForm.SectionDesc.$touched && sectionForm.SectionDesc.$invalid">Description required</span>
            <br> -->
            <br>
            <button class="btn btn-primary" ng-bind="button_name" ng-if="loggedInUser.UserType == 1" ng-click="processUser()">Add</button>
            <button class="btn btn-primary" ng-if="button_name=='Update' && UserType != 1 && loggedInUser.UserType == 1" ng-click="deleteSection()">
                Delete</button>
            <button class="btn btn-primary" ng-if="button_name=='Update' && loggedInUser.UserType == 1" ng-click="resetControls()">Cancel</button>
            <button class="btn btn-primary" ng-if="loggedInUser.UserType != 1" ng-click="resetControls()">Close</button>
            <p ng-show="UserType == 1">Admin account cannot be deleted, Only updated.</p>
        </ng-form>
    </section>
    <section class="content-body register_block_2">
        <div class="row">
            <div class="col-xs-5">
                <h4>Section List</h4>
            </div>
        </div>
        <div class="wait_block" ng-if="!ListInitialized">
            <p class="wait_text">Please Wait...</p>
        </div>
        <div class="wait_block" ng-if="!FormInitialized && loggedInUser.UserType != 1">
            <p class="wait_text">Please Wait...</p>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <!-- <label for="search">Search:</label> -->
                <label for="search">Search: <small style="color:purple;">(Please enter atleast 2 characters to get results)</small></label>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text" ng-change="userCurrentPage=1">
                <!-- <small style="color:purple;">Please enter atleast 2 characters to get results</small> -->
            </div>
            <div class="col-xs-3">
                <label for="search">Records/Page:</label>
                <select ng-model="userPageSize" class="form-control">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2" style="margin-top: 10px;">
                <small style="margin-top: 10px;" ng-show="(secData | filter: (q.length > 1 ? q : '')).length > 1"><b>{{ (secData | filter: (q.length > 1 ? q : '')).length || 0 }} Records</b></small>
                <small style="margin-top: 10px;" ng-show="(secData
                 | filter: (q.length > 1 ? q : '')).length == 1"><b>1 Record</b></small>
            </div>
        </div>
        <!-- Main content -->
        <table class="table">
            <th ng-click="O=(O=='SectionName' && '-SectionName' || 'SectionName' )">Name
                <span ng-show="O=='SectionName'">▲</span>
                <span ng-show="O=='-SectionName'">▼</span>
            </th>
            <!--  <th ng-click="O=(O=='SectionDesc' && '-SectionDesc' || 'SectionDesc' )">Section Desc
                <span ng-show="O=='SectionDesc'">▲</span>
                <span ng-show="O=='-SectionDesc'">▼</span>
            </th> -->
            <th ng-click="O=(O=='StoreName' && '-StoreName' || 'StoreName' )">Assigned Store
                <span ng-show="O=='StoreName'">▲</span>
                <span ng-show="O=='-StoreName'">▼</span>
            </th>
            
              <th>Action  </th>
            <tr dir-paginate="u in secData | filter: (q.length > 1 ? {searchfield: q } : '') | orderBy : O | itemsPerPage:  userPageSize" current-page="userCurrentPage">
                <!-- <tr ng-repeat=" | orderBy:Name "> -->
                <td>
                    <input class="form-control" type='text' ng-model="u.SectionName" readonly />
                </td>
                <!--  <td>
                    <input class="form-control" type='text' ng-model="u.SectionDesc" readonly />
                </td> -->
                <td>
                    <input class="form-control" type='text' ng-model="u.StoreName" readonly />
                </td>
                <td ng-click="getSection(u._id)">
                <span class="btn btn-primary" ng-if="loggedInUser.UserType == 1">Edit</span>
                <span class="btn btn-primary" ng-if="loggedInUser.UserType != 1">View</span>
                </td>
            </tr>
            <tr ng-show="!(secData | filter: (q.length > 1 ? {searchfield: q } : '')).length">
                <td colspan="4">No Record Found</td>
            </tr>
        </table>
        <div>
            <nav aria-label="Page navigation">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/modules/dashboard/views/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </nav>
        </div>
    </section>
    <!-- /.content -->
</section>
