<style>
.register_block_1 {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin: 2% 2%;
    padding: 20px;
    vertical-align: top;
    width: 34%;
}

.register_block_2 {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin: 2% 1%;
    padding: 20px;
    vertical-align: top;
    width: 58%;
}

.content-header {
    padding: 6% 15px 0;
    position: relative;
}

.wait_text {
    background-color: #d9edf7;
    border-radius: 3px;
    color: #31708f;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 10px;
    font-style: italic;
    border: 1px solid #bce8f1;
}

.error {
    color: red;
}
</style>
<!--
Author: Ranjithprabhu K
Page Description: Dashboard Home page
Date: 05 Jan 2016
-->
<!-- Content Header (Page header) -->
<div ng-show="!connection" class="alert alert-danger">You're offline now. Please check your internet connection</div>
<div ng-show="connection_msg" class="alert alert-success">Re-connected successfully</div>
<section class="content-blocks">
    <section class="content-header">
        <h1>
            Setting Data
        </h1>
        <ol class="breadcrumb">
            <!-- <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li> -->
            <li><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Users</li>
        </ol>
    </section>
    <section class="content-body register_block_1">
        <div class="wait_block" ng-if="!FormInitialized">
            <p class="wait_text">Please Wait...</p>
        </div>
        <h4>Update  Setting Data</h4>
        <form ng-controller="SettingController">
            <label>GeoFancingRange<span class="error">*</span></label>
            <input type="number" class="form-control" ng-model="GeoFancingRange" name="GeoFancingRange" />
            <br>
            <label>MinStayTime</label>
            <input class="form-control" type="number" ng-model="MinStayTimeOfCustomerForEmployee"
                name="MinStayTimeOfCustomerForEmployee" />
            <br>
            <input type="submit" name="Update" id="Update" class="btn btn-primary" value="Save" ng-click="processUser()">
        </form>
    </section>
    <!-- /.content -->
</section>
