<style>
.register_block_1 {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin: 2% 2%;
    padding: 20px;
    vertical-align: top;
    width: 34%;
}

.register_block_2 {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin: 2% 1%;
    padding: 20px;
    vertical-align: top;
    width: 58%;
}

.content-header {
    padding: 6% 15px 0;
    position: relative;
}

.wait_text {
    background-color: #d9edf7;
    border-radius: 3px;
    color: #31708f;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 10px;
    font-style: italic;
    border: 1px solid #bce8f1;
}
.error {
    color: red;
}
</style>
<!--
Author: Ranjithprabhu K
Page Description: Dashboard Home page
Date: 05 Jan 2016
-->
<!-- Content Header (Page header) -->
<div ng-show="!connection" class="alert alert-danger">You're offline now. Please check your internet connection</div>
<div ng-show="connection_msg" class="alert alert-success">Re-connected successfully</div>
<section class="content-blocks">
    <section class="content-header">
        <h1>
            Add User
        </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Users</li>
        </ol>
    </section>
    <section class="content-body register_block_1">
        <div class="wait_block" ng-if="!FormInitialized">
            <p class="wait_text">Please Wait...</p>
        </div>
        <h4 ng-if="button_name!='update'">Add User</h4>
        <h4 ng-if="button_name=='update'">Update User</h4>
        <ng-form name="userForm" id="userForm">
            <label>Name<span>*</span></label>
            <input class="form-control" type="text" name="Name" id="Name" ng-model="Name" required="required" />
            <span class="error" ng-show="userForm.Name.$touched && userForm.Name.$invalid">Name required</span>
            <br>
            <label>Email<span>*</span></label>
            <input class="form-control" type="text" id="Email" name="Email" ng-model="Email" ng-pattern="emailregex" required="required" />
            <span class="error" ng-show="userForm.Email.$touched && userForm.Email.$invalid">Please enter a valid Email address</span>
            <br>
            <label>Mobile Number<span>*</span></label>
            <input class="form-control" type="text" id="MobileNo" name="MobileNo" ng-model="MobileNo" 
                ng-pattern="phoneregex" required="required" />
            <span class="error" ng-show="userForm.MobileNo.$touched && userForm.MobileNo.$invalid">Please enter a valid Mobile Number</span>
            <br>
            <label>Designation</label>
            <input class="form-control" type="text" name="Designation" ng-model="Designation" />
            <br>
            <label>Assign Store<span>*</span></label>
            <select class="form-control col-md-4" ng-model="AssignedStore" id="AssignedStore" name="AssignedStore">
                <option value="">Select Store</option>
                <option ng-repeat="device in storeData | orderBy:StoreName" value="{{device._id}}">
                    {{device.StoreName}}</option>
            </select>
            <span class="error" ng-show="userForm.AssignedStore.$touched && userForm.AssignedStore.$invalid">Please assign any store</span>
            <br>
            <label>User ID<span>*</span></label>
            <input class="form-control" type="text" name="UserID" id="UserID" ng-model="UserID" 
                ng-pattern="useridregex" required="required"/>
            <span class="error" ng-show="userForm.UserID.$touched && userForm.UserID.$error.required">User ID required</span>
            <span class="error" ng-show="userForm.UserID.$touched && userForm.UserID.$invalid && !userForm.UserID.$error.required">User ID must be lowercase and only alphabets</span>
            <br>
            <label>Password</label>
            <input class="form-control" type="password" id="Password" name="Password" ng-model="Password"  />
            <span class="error" ng-show="userForm.Password.$touched && userForm.Password.$invalid">Password required</span>
            <span class="error" ng-show="userForm.Password.$touched && userForm.Password.$invalid && !userForm.Password.$error.required">Password should be atleast 8 characters long
            and should contain one number,one character and one special
            character</span>
            <br>
             <!-- compare-to="Password" -->
            <label>Confirm Password</label>
            <input class="form-control" type="password" id="ConfPassword" name="ConfPassword" ng-model="ConfPassword"  />
            <span class="error" ng-show="userForm.confPassword.$touched && userForm.confPassword.$invalid">Confirm Password required</span>
            <span class="error" ng-show="userForm.confPassword.$touched && userForm.confPassword.$invalid && !userForm.confPassword.$error.required">Confirm password doesnot match with password</span>
            <br>
            <p ng-show="button_name=='Update'">Leave password field blank if you donot want to reset password.</p>
            <br>
            <button class="btn btn-primary" ng-bind="button_name" ng-click="processUser()">Add</button>
            <button class="btn btn-primary" ng-if="button_name=='Update' && UserType != 1" ng-click="deleteUser()">
            Delete</button>
            <button class="btn btn-primary" ng-if="button_name=='Update'" ng-click="resetControls()">Cancel</button>
            <p ng-show="UserType == 1">Admin account cannot be deleted, Only updated.</p>
        </ng-form>
    </section>
    <section class="content-body register_block_2">
        <div class="wait_block" ng-if="!ListInitialized">
            <p class="wait_text">Please Wait...</p>
        </div>
        <!-- Main content -->
        <table class="table">
            <th>Name</th>
            <th>Designation</th>
            <th>Email</th>
            <th>Assigned Store</th>
            <tr ng-repeat="u in userData | orderBy:BeaconKey ">
                <td>
                    <input class="form-control" type='text' ng-model="u.Name" readonly />
                </td>
                <td>
                    <input class="form-control" type='text' ng-model="u.Designation" readonly />
                </td>
                <td>
                    <input class="form-control" type='text' ng-model="u.Email" readonly />
                </td>
                <td>
                    <input class="form-control" type='text' ng-model="u.StoreName" readonly />
                </td>
                <td ng-click="getUser(u._id)"><span class="btn btn-primary">Edit</span></td>
            </tr>
        </table>
    </section>
    <!-- /.content -->
</section>
