<style>
.register_block_1 {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin: 2% 2%;
    padding: 20px;
    vertical-align: top;
    width: 34%;
}

.register_block_2 {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin: 2% 1%;
    padding: 20px;
    vertical-align: top;
    width: 58%;
}

.content-header {
    padding: 6% 15px 0;
    position: relative;
}

.wait_text {
    background-color: #d9edf7;
    border-radius: 3px;
    color: #31708f;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 10px;
    font-style: italic;
    border: 1px solid #bce8f1;
}
</style>
<!--
Author: Ranjithprabhu K
Page Description: Dashboard Home page
Date: 05 Jan 2016
-->
<!-- Content Header (Page header) -->
<div ng-show="!connection" class="alert alert-danger">You're offline now. Please check your internet connection</div>
<div ng-show="connection_msg" class="alert alert-success">Re-connected successfully</div>
<section class="content-blocks">
    <section class="content-header">
        <h1>
            Add User
        </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Users</li>
        </ol>
    </section>
    <section class="content-body register_block_1">
        <div class="wait_block" ng-if="!FormInitialized">
            <p class="wait_text">Please Wait...</p>
        </div>
        <h4 ng-if="button_name!='update'">Add User</h4>
        <h4 ng-if="button_name=='update'">Update User</h4>
        <label>Assign Store</label>
        <select class="form-control col-md-4" ng-model="Beacon_Store">
            <option ng-repeat="device in storeData | orderBy:StoreName" value="{{device._id}}">{{device.StoreName}}</option>
        </select>
        <label>First Name</label>
        <input class="form-control" type="text" name="first_name" ng-model="First_Name" />
        <br>
        <label>Last Name</label>
        <input class="form-control" type="text" name="last_name" ng-model="Last_Name" />
        <br>
        <label>Email</label>
        <input class="form-control" type="text" name="email" ng-model="Email" />
        <br>
        <label>Password</label>
        <input class="form-control" type="text" name="password" ng-model="Password" />
        <br>
        <button class="btn btn-primary" ng-bind="button_name" ng-click="processUser()">Add</button>
        <button class="btn btn-primary" ng-if="button_name=='update'" ng-click="deleteUser()">Delete</button>
    </section>
    <section class="content-body register_block_2">
        <div class="wait_block" ng-if="!ListInitialized">
            <p class="wait_text">Please Wait...</p>
        </div>
        <!-- Main content -->
        <table class="table">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <tr ng-repeat="u in userData | orderBy:BeaconKey ">
                <td>
                    <input class="form-control" type='text' ng-model="u.First_Name" readonly />
                </td>
                <td>
                    <input class="form-control" type='text' ng-model="u.Last_Name" readonly />
                </td>
                <td>
                    <input class="form-control" type='text' ng-model="u.Email" readonly />
                </td>
                <td>
                    <input class="form-control" type='text' ng-model="u.Password" readonly />
                </td>
                <td ng-click="getUser(u._id)"><span class="btn btn-primary">View</span></td>
            </tr>
        </table>
    </section>
    <!-- /.content -->
</section>
